@model GymApp_v1.Data.User
@{
    ViewData["Title"] = "Kullanıcı Paneli";
    var subscription = ViewBag.Subscription as GymApp_v1.Data.Subscription;
}

<h2>Hoş geldin @Model.Username!</h2>

<ul>
    <li>Email: @Model.Email</li>
    <li>Rol: @Model.Role</li>
    <li>Üyelik: Yok</li>
</ul>

@section Scripts {
    <script>
    window.history.replaceState({}, '', window.location.href);
    window.addEventListener('popstate', function () {
        window.location.reload(true);
    });
    </script>
}